*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.first-pg {
    color:rgb(59, 165, 59);
    background-image: url("./assets/cover2.avif") ;
    padding: 40px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    font-style: oblique;

    

}

li, a{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    
}

ul{
    display: flex;
    gap: 30px;
    justify-content:center;
}

a{
    color:black;

    text-decoration: none;
    font-size: small;
    font-weight: bold;

}

a:hover{
    padding: 2px 0;
    border-bottom: 2px solid rgb(8, 8, 8);
}

.top-left{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 10px;
padding-right: 20px;
padding-left: 20px;
background-color: aliceblue;
}

.icon{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:60px;
}

.button{
    background-color:rgb(7, 7, 7);
    border: none;
    color:rgb(252, 249, 249);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;

}
body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: 400;
    font-size: 16px;
    color: rgb(7, 7, 7);
    
}


body, html{
    height: 100%;
}
.header-text{
        text-align: center;
        margin-top: 70px;
        width: 100%;
        padding: 80px 50px 120 50px;
        color:green;
        font-weight:bold;
        font-size:small;
        font-style: italic;

    
}

.about-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-text{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
    margin:auto;
    line-height: 22px;
    text-align: center;

}

.new-item{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: rgb(32, 128, 32);
}

.new-item-text{
    padding: 50px;
    color: white;
}

.text{
    text-align:left;
    padding:10px 10px;
    margin-bottom: 50%;


}

.text h3{
    padding: 14px 0;
    color:rgb(240, 243, 243)
}

img{
    width:100%;
}

.img{
    width: 100%;

}

.service-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 29px;
        grid-row-gap: 0px;
    
    }

 .services{
    padding: 100px 50px 100px 50px;
    text-align:center;
 }   

 .services h2{
    padding: 20px;
    margin-bottom: 20px;
 }

 .product-lists {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 33px;
        background-color: rgb(196, 238, 196);
    }

    .product-items{
        width: 200px;
    }

    .members{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 36px;
            grid-row-gap: 0px;
            
    }

    .products h2{
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
    }